<div id="room_one"><h2>тераса</h2>
	<p>
Списанието Fortune, което изготвя класация на най-добрите компании в световния бизнес, проведе интервю с управителя на Датекс, Пенчо Илиев. За нас е чест, че успехът ни бе отбелязан от едно от най-престижните издания. Материалът е публикуван в броя от 1-ви август 2016 г. Надяваме се да има още много поводи за споменаването на Датекс на страниците на Fortune. <p>
</div>
<div id="room_two"><h2>бар</h2>
	<p>
За фирма Датекс е гордост да обяви, че от началото на февруари 2016 година, популярният платежен терминал Блупад-50 е в реална работна среда в ресторантите на фирмата, които се намират в двете й офис сгради. Терминалът успешно е преминал всички PCI PTS, EMV, VISA and MasterCard сертификации и е одобрен от Борика за използване в България. Акуайъринг банка в този пилотен проект е Уникредит Булбанк. <p>
</div>
<div id="room_three"><h2>маси</h2>
	<p>
	За трета поредна година ДАТЕКС ООД бе отличен с наградата TRUE LEADERS на ICAP България, като една от компаниите в България покриваща едновременно измерими и обективни критерии, свързани със стабилността и динамичното развитие, с висока кредитна оценка и нисък рисков профил. В церемонията взеха участие повече от 200 представители на българския бизнес, както и председатели на търговски камари и държавни организации. </p>
</div>
<div id="room_four"><h2>тоалетна</h2>
	<p>
	Имаме удоволствието да Ви информираме, че Датекс ще участва на MasterCard Global Vendor Information Forum в Берлин на 10 и 11 Май, 2016 година. Датекс ще представи най-новите си постижения в областта на платежните терминали.За първи път Датекс осъществява пълна интеграция с платежна система и създава софтуерна апликация за Android, iOS и фискалните устройства, произвеждани от фирмата </p>
</div>

<div id="room_five"><h2>изход</h2>
	<p>
	Имаме удоволствието да Ви информираме, че Датекс ще участва в изложбата Cartes2015, която ще се проведе от 17 до 19 ноември в Париж. Това е най-голямото изложение в областта на индустрията за електронни разплащания. Датекс ще представи своята линия от мобилни платежни терминали. 
Каним всички наши партньори и потенциални клиенти да посетят нашия щанд J032, който се намира в палата 4. </p>
</div>

<div id="room_six"><h2>място за гости</h2>
	<p>
BluePad-50 вече и в Япония
От 25 октомври KDDI Co. Ltd, KDDI Financial Services Co. Ltd. и Mitsubishi UFJ Nicos Co. Ltd стартират пилотен проект в седем магазина от веригата au с използването на мобилен платежен терминал BluePad-50. През ноември всичките 2500 магазина от веригата ще бъдат оборудвани с нашето устройство. Основното предимство на BluePad-50 е, че позволява разплащания както с кредитни карти, така и с електронни пари, които са много популярни на японския пазар</p>
</div>

<div id="room_seven"><h2>кухня</h2>
	<p>
	Датекс одобри мобилен фискален принтер от ново поколение с възможност за печат на хартия с ширина до 112 mm и скорост до 150 mm в секунда. FMP-450 KL e най-новото предложение за бързо развиващия се пазар на услуги и продажби с мобилен характер.	Екипът на Датекс честити на всичките си клиенти, партньори и дистрибутори коледните и новогодишни празници. Пожелаваме ви новата 2017-та година да бъде е още по-успешна!</p>

</div>
<div id="room_eight"><h2>новини</h2>
	<p>
	На 27 април ще се проведе 19-и Финансов технологичен форум в София Хотел Балкан. Ние не само, че ще покажем високотехнологичните ни и качествени решения в платежните терминали, но ще изнесем и лекция на тема „Иновативни решения за мобилни разплащания“. Очакваме Ви!
</p>
</div>
<div id="room_nine"><h2>датекс инф.</h2>
	<p>
	В последния брой на водещето списание The Nilson Report (брой 1114) е публикувана статистика за 2016 година за продадените POS платежни терминали както по производители, така и по региони. Много сме горди да съобщим, че Датекс е на 20-то място в света по продадени POS терминали за 2016, място отредено ни с над 370,000 продадени терминала. В Европа сме на 9-то място с над 120,000 терминала, а по продажби на mPOS терминали сме се класирали на 8-мо.  </p>
</div>
<div id="room_ten"><h2>асансьори</h2>
	<p>
	Ние сме лидер в производството и разработката на иновативни ПОС решения. Предлагаме мобилни разплащателни системи, принтери, касови апарати, баркод четци и аксесоари. Каквито и да са нуждите на Вашия бизнес, нашите устройства ще ги удовлетворят.
	Нашето семейство продължава да се разраства и днес имаме удоволствието да работим с фирми от 94 държави и 6 континента. Научете повече за нашите партньори и нашето присъствие по света на картата по-долу. </p>
</div>
